*{
      padding: 0;
      margin: 0;
      box-sizing: 0;
      color: white;
}

nav{
      height: 60px;
      display: flex;
      justify-content: center;
      vertical-align: middle  ;
}

nav img{
      height: 50px;
}

.deliver{
      display: flex;
}